<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>React</title>
</head>

<body>
  <div id="root"></div>
  <script src="/assets/js/react.development.js"></script>
  <script src="/assets/js/react-dom.development.js"></script>
  <script src="/assets/js/react-bootstrap.min.js"></script>
  <script src="/assets/js/react-router-dom.js"></script>
  <script src="/assets/js/dayjs.min.js"></script>
  <script src="/assets/js/babel.js"></script>
  <script src="/assets/js/runtime.min.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/fancybox.js"></script>
  <script src="/assets/js/mitt.umd.js"></script>
  <script src="/assets/layer/layer.js"></script>
  <script src="/assets/js/polyfill.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/roboto.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  <style>
    .leftsidebar {
      position: fixed;
      height: 100%;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (min-width: 768px) {
      .leftsidebar {
        min-width: 15%;
      }
    }

    @media (max-width: 768px) {
      .leftsidebar {
        max-width: 50%;
      }
    }
  </style>
  <script type="text/babel">
    const { useState, useEffect } = React;
    const { HashRouter, Route, Link, Switch, useLocation, useParams } = ReactRouterDOM;
    const { Alert, Badge, Button, ButtonGroup, Collapse, Col, Container, Form, InputGroup, ListGroup, Modal, Nav, Navbar, NavDropdown, Offcanvas, Row, ButtonToolbar } = ReactBootstrap;


    //监听事件开始  通过localstorage实现跨页面事件监听
    const emitter = mitt()
    // 监听 localStorage 变化
    window.addEventListener('storage', (event) => {
      if (event.key === 'event') {
        const { type, data } = JSON.parse(event.newValue);
        emitter.emit(type, data);
      }
    });
    // 封装 emit 方法
    const emitEvent = (type, data) => {
      // 触发本地事件
      emitter.emit(type, data);
      const randomString = Math.random().toString(36).substring(2, 10); // 生成一个随机字符串确保event每次的值不一样，如果一样会不触发事件
      const identity = `${ Date.now() }-${ randomString }`;
      // 存储到 localStorage，以便其他页面能够接收到
      localStorage.setItem('event', JSON.stringify({ type, data, identity }));
    };
    // 封装 on 方法
    const onEvent = (type, callback) => {
      emitter.on(type, callback);
    };
    // 封装 off 方法
    const offEvent = (type, callback) => {
      emitter.off(type, callback);
    };
    //事件监听结束


    //导入组件 开始
    {% include 'components/Icon.js' %}
    {% include 'components/IconButton.js' %}
    //导入所有组件 结束
    //导入页面 开始
    {% include 'pages/layout.js' %}
    {% include 'pages/home.js' %}
    //导入所有页面组件 结束

    const App = () => {
      //const [rootPath, setRootPath] = useState('/');
      //useEffect(() => {
      //}, []);
      const [open, setOpen] = useState(false);
      return (
        <div>
          <div className="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 mb-2 border-bottom bg-light">
            <h1 className="h2">Dashboard</h1>
            <ButtonToolbar aria-label="功能区" className="bg-teal">
              <ButtonGroup className="bg-teal">
                <Button
                  className="bg-teal border-0"
                  onClick={ () => setOpen(!open) }
                  aria-controls="example-collapse-text"
                  aria-expanded={ open }
                >
                  click
                </Button>
                <IconButton onClick={ () => { alert("hello"); } } text="刷新" className="bg-teal border-0" icon="reload" iconClassName="me-1 text-white" iconSize="6" />
                <IconButton onClick={ () => { alert("hello"); } } text="删除" className="bg-teal border-0" icon="delete-outline" iconClassName="me-1 text-white" iconSize="6" />
              </ButtonGroup>
            </ButtonToolbar>
          </div>
          <Collapse in={ open }>
            <div id="example-collapse-text">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
              terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
              labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </Collapse>
        </div>
      );
    };


    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render(
      <HashRouter>
        <Route path='/:path?'>
          <Layout>
            <Switch>
              <Route path="/" exact component={ App } />
              <Route path="/home" exact component={ Home } />
              <Route path="/home/:id?" component={ Home } />
            </Switch>
          </Layout>
        </Route>
      </HashRouter>
    );


    Fancybox.bind("[data-fancybox]", {
      Toolbar: {
        items: {
        },
        display: {
          left: ["infobar"],
          middle: [
            "zoomIn",
            "zoomOut",
            "toggle1to1",
          ],
          right: ["facebook", "slideshow", "thumbs", "close"],
        },
      },
      Images: {
        initialSize: "fit",
      }
    });



  </script>

</body>

</html>